<%- all_pages_for_select = Alchemy::Page.find_all_by_language_id(session[:language_id]).map { |p| [p.name, p.id.to_s] } -%>
<%= render_essence_editor_by_name element, 'newsletter_text' %>
<%= render_essence_editor_by_name element, 'followup_page', { :select_values => all_pages_for_select } %>
<%= render_essence_editor_by_name element, 'mail_from' %>
<%= render_essence_editor_by_name element, 'mail_subject' %>
<%= render_essence_editor_by_name element, 'email_text' %>
<p class="foot_note">Bitte den Link zur Best채tigung mit %{link} einf체gen.<br />Den Namen des Empf채ngers mit %{name} einf체gen.</p>
<%= render_essence_editor_by_name element, 'verification_followup_page', { :select_values => all_pages_for_select } %>
