<%= form_for [:admin, @mailing], :class => " with_padding", :remote => true do |f| %>
	<div id="errors" style="display: none"></div>
	<table>
		<tr>
			<td class="label medium_long">
				<%= f.label :newsletter, ("Newsletter") %>
			</td>
			<td>
				<%= f.collection_select :newsletter_id, @newsletters, :id, :humanized_name, :prompt => 'Bitte wählen', :class => "thin_border long" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :name, ("Name") %>
			</td>
			<td>
				<%= f.text_field :name, :class => "thin_border long" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :subject, ("Betreff") %>
			</td>
			<td>
				<%= f.text_field :subject, :class => "thin_border long" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :additional_email_addresses, ("zusätzliche Email-Adressen*") %>
			</td>
			<td>
				<%= f.text_area :additional_email_addresses, :class => "thin_border", :style => "height: 4em; width: 251px" %>
				<p style="text-align: right"><sup>*Email-Adressen bitte mit Komma getrennt angeben.</sup></p>
			</td>
		</tr>
		<tr>
			<td class="submit" colspan="2">
				<%= f.button "Speichern", :class => "button" %>
			</td>
		</tr>
	</table>
<% end %>
