<div id="sub_navigation">
	<%= link_to "Liste", :action => "index" %><%= link_to "Empfänger", :controller => "recipients" %><span>Zielgruppen</span>
</div>
<% @groups.each do |group| %>
	<div><%= link_to "#{group.name}", :action => "groups", :group => group %></div>
<% end %>
<div class="group_form">
<%= form("mailing_group", :action => "groups", :input_block =>
     Proc.new { |record, column| "#{column.human_name}: #{input(record, column.name)}<br/>" if column.name == "name"}) %>

</div>
<% unless @group.nil? %>
	User der Zielgruppe:<%= @group.name %>
	<div>
		<% @group.mailing_recipients.each do |re| %>
			<div>
			<%= re.first_name %>
			<%= re.last_name %>
			<%= re.email %>
			</div>
		<% end %>
	</div>
<% end %>