<%- content_for(:javascript_includes) do -%>
  <%= javascript_include_tag "alchemy_crm/scripts.js" %>
<%- end -%>

<%- content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag('alchemy_crm/styles') %>
<%- end -%>

<% toolbar(
  :buttons => [
    {
      :icon => :close,
      :label => t(:cancel),
      :url => alchemy_crm.admin_contacts_path,
      :title => t(:cancel),
      :overlay => false,
      :if_permitted_to => [:index, :alchemy_crm_admin_contacts]
    }
  ],
  :search => false
) -%>

<% if @errors -%>

<div id="errors"><%= raw @errors %></div>

<% end -%>

<table>
<% @contacts.each do |contact| -%>
  <tr>
    <td><%= contact.fullname %></td>
    <td><%= contact.email %></td>
    <td><%= contact.errors.full_messages %></td>
  </tr>
<% end -%>
</table>
