<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy_crm/styles') %>
<%- end -%>
<%- content_for(:javascript_includes) do -%>
	<%= javascript_include_tag('alchemy_crm/scripts') %>
<%- end -%>

<%- content_for :toolbar do -%>
<div id="toolbar_buttons">
	<%= toolbar_button(
		:icon => 'mailing_add',
		:url => new_admin_mailing_path,
		:title => 'Neues Mailing anlegen',
		:label => 'Neues Mailing',
		:overlay_options => {
			:title => 'Neues Mailing anlegen',
			:size => '464x270'
		},
		:if_permitted_to => [:new, :alchemy_crm_admin_mailings]
	) %>
</div>
<%= render 'alchemy/admin/partials/search_form' %>
<%- end -%>

<table class="list">
	<%- unless @mailings.blank? -%>
	<tr class="legend">
		<th class="icon"></th>
		<th class="name">Name</th>
		<th class="name">Betreff</th>
		<th style="width: 120px">Newsletter</th>
		<th class="size" style="width: 120px">Kontakte</th>
		<th class="time">nächster Versand geplant für</th>
		<th class="tools" style="width: 88px"></th>
	</tr>
	<%- end -%>
	<%= render @mailings %>
</table>
<%= render 'alchemy/admin/partials/pagination_links', :items => @mailings %>
