<div class="with_padding" id="teasables">
    <p style="margin-bottom: 8px">
        Nur Elemente der Seite:
        <%= select_tag(
            "pages",
            options_for_select([["Alle", ""]]) + options_from_collection_for_select(@pages, :id, :name),
            :onchange => "$$(.teasable_element).detect(function(el){el.rel.replace('from_page_', '') != this.value}).hide()"
        ) %>
        anzeigen.
    </p>
    <div id="elements_for_mailing_content">
        <%- if @elements.blank? -%>
        <p>Es wurden keine Elemente gefunden.</p>
        <%- else -%>
        <%- @elements.each_with_index do |element, i| -%>
        <div class="teasable_element" style="padding: 8px; background-color: white; margin-bottom: 8px" rel="from_page_<%= element.page.id %>">
            <%= element.preview_text %>
            <div style="margin-top: 4px; padding-top: 4px; border-top: 1px solid #ededed">
                <%= link_to_remote("&laquo; Inhalt in das Mailing übernehmen",
                    :url => {
                        :controller => "elements",
                        :action => "update_from_element",
                        :id => @element.id,
                        :source_element_id => element.id
                    },
                    :method => 'put',
                    :complete => "alchemy_window.close()"
                ) %>
                <%= link_to_remote(" nur den Link setzen &raquo;",
                    :url => {
                        :controller => "elements",
                        :action => "update_from_element",
                        :id => @element.id,
                        :source_element_id => element.id,
                        :link_only => true
                    },
                    :method => 'put',
                    :complete => "alchemy_window.close()",
                    :html => {:class => "link_only"}
                ) %>
            </div>
        </div>
        <%- end -%>
        <%- end -%>
    </div>
</div>
