<div id="overlay_toolbar" style="margin: 0">
    Nur Elemente der Seite:
    <%= select_tag(
        "pages",
        options_for_select([["Alle", ""]]) + options_from_collection_for_select(@pages, :id, :name),
        :onchange => "teasablesFilter(this.value)"
    ) %>
    anzeigen.
</div>
<div class="with_padding" style="padding: 8px">
    <div id="teasable_elements">
        <%- if @elements.blank? -%>
        <p>Es wurden keine Elemente gefunden.</p>
        <%- else -%>
        <%- @elements.group_by{ |e| e.page }.each do |page, elements| -%>
        <div id="teasable_page_<%= page.id %>" class="teasable_page">
            <h2><%= page.name %></h2>
            <%- elements.each do |element| -%>
            <div class="teasable_element" style="padding: 8px; background-color: white; margin-bottom: 8px">
                <%= element.preview_text %>
                <div style="margin-top: 4px; padding-top: 4px; border-top: 1px solid #ededed">
                    <%= link_to_remote("&laquo; Inhalt in das Mailing übernehmen",
                        :url => {
                            :controller => "elements",
                            :action => "update_from_element",
                            :id => @element.id,
                            :source_element_id => element.id
                        },
                        :method => 'put',
                        :complete => "alchemy_window.close()"
                    ) %>
                    <%= link_to_remote(" nur den Link setzen &raquo;",
                        :url => {
                            :controller => "elements",
                            :action => "update_from_element",
                            :id => @element.id,
                            :source_element_id => element.id,
                            :link_only => true
                        },
                        :method => 'put',
                        :complete => "alchemy_window.close()",
                        :html => {:class => "link_only"}
                    ) %>
                </div>
            </div>
            <%- end -%>
        </div>
        <%- end -%>
        <%- end -%>
    </div>
</div>
