<%= form_for [:admin, @newsletter], :class => "with_padding", :remote => true do |f| %>
	<div id="errors" style="display: none"></div>
	<table>
		<tr>
			<td class="label">
				<%= f.label :name, "Name" %>
			</td>
			<td class="input">
				<%= f.text_field :name, :class => "thin_border" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :layout, "Layout" %>
			</td>
			<td class="select">
				<%= f.select :layout, @page_layouts, { :prompt => 'Bitte wählen' }, { :class => 'alchemy_selectbox' } %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :public, "Öffentlich" %>
			</td>
			<td class="checkbox">
				<%= f.check_box :public %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :contact_groups, "Zielgruppen" %>
			</td>
			<%- if @contact_groups.any? -%>
			<td class="input">
					<%= render :partial => "tag_with_radiobutton", :collection => @contact_groups, :locals => {:newsletter_contact_groups => @newsletter.contact_groups} %>
			<%- else -%>
			<td class="value">
				<small>Sie haben noch keine Empfänger Zielgruppen gebildet</small>
			<%- end -%>
			</td>
		</tr>
		<%- unless @newsletter.verified_direct_contacts.blank? -%>
		<tr>
			<td colspan="2" class="headline">
				Über die Website eingetragene Kontakte: <%= @newsletter.verified_direct_contacts.count %>
			</td>
		</tr>
		<%- end -%>
		<tr>
			<td colspan="2" class="submit">
				<%= f.button "Speichern", :class => "button" %>
			</td>
		</tr>
	</table>
<% end %>
