<tr class="<%= cycle('odd', 'even') %>">
    <td class="icon">
        <%= render_icon('format') -%>
    </td>
    <td class="name">
        <%= newsletter.name -%>
    </td>
    <td style="width: 120px">
        <%= newsletter.layout_name %>
    </td>
    <td>
        <%= newsletter.public ? 'ja' : 'nein' -%>
    </td>
    <td class="size" style="width: 120px">
        <%= newsletter.contacts_count -%>
    </td>
    <td class="tools">
        <%= link_to_overlay_window(
            content_tag('span', '', :class => 'icon format_edit'),
            edit_admin_newsletter_path(newsletter),
            {
                :title => 'Newsletter bearbeiten',
                :size => '360x220'
            },
            {
                :title => 'Newsletter bearbeiten'
            }
        ) -%>
        <%= link_to_confirmation_window(
            content_tag('span', '', :class => 'icon format_delete'),
            "Wollen Sie diesen Newsletter wirklich löschen?",
            admin_newsletter_path(newsletter),
            :title => 'Newsletter löschen'
        ) -%>
    </td>
</tr>
