<tr class="<%= cycle('even', 'odd') %>">
    <td class="icon">
        <%= render_icon('format') -%>
    </td>
    <td class="name">
        <%= newsletter.name -%>
    </td>
    <td style="width: 120px">
        <%= newsletter.layout_name %>
    </td>
    <td class="center">
        <%= render_icon(newsletter.public?) -%>
    </td>
    <td class="size" style="width: 120px">
        <%= newsletter.contacts_count -%>
    </td>
    <td class="size" style="width: 120px">
        <%= newsletter.verified_subscribers_count -%>
    </td>
    <td class="size" style="width: 120px">
        <%= newsletter.verified_contact_group_contacts_count -%>
    </td>
    <td class="tools">
        <%= link_to_overlay_window(
            content_tag('span', '', :class => 'icon format_edit'),
            edit_admin_newsletter_path(newsletter),
            {
                :title => alchemy_crm_t(:edit_newsletter),
                :size => '340x220'
            },
            {
                :title => alchemy_crm_t(:edit_newsletter)
            }
        ) -%>
        <%= link_to_confirmation_window(
            content_tag('span', '', :class => 'icon format_delete'),
            alchemy_crm_t(:do_you_really_want_to_delete_this_newsletter?),
            admin_newsletter_path(newsletter),
            :title => alchemy_crm_t(:delete_newsletter)
        ) -%>
    </td>
</tr>
