<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>Anzahl Empf채nger: </td>
		<td><%= @recipients.length %></td>
	</tr>
	<tr>
		<td>Empf채nger die gelesen haben: </td>
		<td>
		    <%= render :partial => 'recipient', :collection => @read %>
		    <%= 'Keine' if @read.blank? %>
		</td>
	</tr>
	<tr>
		<td>Empf채nger die reagiert haben: </td>
		<td>
		    <%= render :partial => 'recipient', :collection => @reacted %>
		    <%= 'Keine' if @reacted.blank? %>
		</td>
	</tr>
	<tr>
		<td>Empf채nger deren Mails nicht angekommen sind: </td>
		<td>
		    <%= render :partial => 'recipient', :collection => @bounced %>
		    <%= 'Keine' if @bounced.blank? %>
		</td>
	</tr>
</table>

