<div class="mailingform">
	<div class="mailing_padding">
		<%= error_messages_for 'contact', :header_message => "Das Formular konnte nicht gesendet werden.", :message => "Folgende Fehler traten auf:" %>
		<% unless flash[:mail_sent].blank? %>
			<div id="mail_message">
				<%= flash[:mail_sent] %>
			</div>
		<% else %>
		<% form_tag :controller => 'contact', :action => 'signup' do %>
			<h3>Ihre Kontaktdaten</h3>
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="info_contact">Anrede:</td>
					<td class="info_contact_form">
						<%= select "contact", "salutation", [["Wählen Sie",""],["Frau","Frau"],["Herr","Herr"]], :selected => (session[:contact][:salutation] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>Vorname | Zusatz</td>
					<td>
						<%= text_field "contact", "firstname", :class => "field_vorname", :value => (session[:contact][:firstname] rescue "") %><%= text_field "contact", "prename", :class => "field_adjunct", :value => (session[:contact][:prename] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>Nachname</td>
					<td>
						<%= text_field "contact", "lastname", :class => "field", :value => (session[:contact][:lastname] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>Firma</td>
					<td>
						<%= text_field "contact", "organisation", :class => "field", :value => (session[:contact][:organisation] rescue "") %>
					</td>
				</tr>
				<tr>
					<td height="12"/>
				</tr>
				<tr>
					<td>Straße | Nr. </td>
					<td>
						<%= text_field "contact", "street",:class => "field_street", :id => "field_street", :value => (session[:contact][:street] rescue "") %><%= text_field "contact", "street_nr", :class => "field_streetnr", :value => (session[:contact][:street_nr] rescue ""), :maxlength => 4 %>
					</td>
				</tr>
				<tr>
					<td>PLZ | Ort</td>
					<td>
						<%= text_field "contact", "zip", :class => "field_zip", :value => (session[:contact][:zip] rescue ""), :maxlength => 5 %><%= text_field "contact", "city", :class => "field_city", :value => (session[:contact][:city] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>Telefon</td>
					<td>
						<%= text_field "contact", "phone", :class => "field", :value => (session[:contact][:phone] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>Handy</td>
					<td>
						<%= text_field "contact", "mobile", :class => "field", :value => (session[:contact][:mobile] rescue "") %>
					</td>
				</tr>
				<tr>
					<td>E-Mail<span class="must">*</span></td>
					<td>
						<%= text_field "contact", "email", :class => "field", :value => (session[:contact][:email] rescue "") %>
					</td>
				</tr>
				<tr>
					<td style="height:10px"><%= image_tag "spacer.gif", :style => "width:133px;height:1px" %></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2" class="fullfill">Alle Felder mit einem rotem Stern (<span class="must_2">*</span>) müssen ausgefüllt werden. Vielen Dank!</td>
				</tr>
			</table>
			
			<h3>Sie können folgende Mailing abonnieren</h3>
			<table cellspacing="0" cellpadding="0">
			<%- @formats.each do |format| -%>
				<tr>
					<td class="checkboxen">
						<%= check_box_tag "contact[newsletter_ids][]", format.id, (session[:contact][:newsletter_ids].include?(format.id.to_s) rescue false) %>
					</td>
					<td>
						<%= format.name %>
					</td>
				</tr>
			<%- end -%>
			</table>
			<div class="senden">
				<input type="submit" class="button" value="Mailing abonnieren!"/>
			</div>
			<div class="mailing_delete">
				<%= link_to "Pflegen und Wohnen Mailing abmelden.", signout_mailings_path %>
			</div>
		<% end %>
		<% end %>
	</div>
</div>
