<%= form_for [:admin, @contact], :remote => true do |f| %>
<div id="errors" style="display:none"></div>
<% if @contact.disabled? -%>
<div class="info">
	<%= render_icon(:info) %>
	<p>
		<strong>Dieser Kontakt hat sich abgemeldet!</strong>
	</p>
</div>
<% end -%>
<table id="contact">
	<tr>
		<td class="label"><%= f.label :salutation %></td>
		<td class="select">
			<%= f.select :salutation, options_for_select([['auswählen', ''], [::I18n.t(:mr, :scope => [:alchemy_crm, :salutations]), :mr], [::I18n.t(:ms, :scope => [:alchemy_crm, :salutations]), :ms]], @contact.salutation), {}, { :class => 'alchemy_selectbox very_short' } %>
		</td>
		<td class="label right"><%= f.label :title %></td>
		<td class="input"><%= f.text_field :title, :class => "thin_border medium_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :firstname %></td>
		<td colspan="3" class="input"><%= f.text_field :firstname, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :lastname %></td>
		<td colspan="3" class="input"><%= f.text_field :lastname, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :organisation %></td>
		<td colspan="3" class="input"><%= f.text_field :organisation, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :email %></td>
		<td colspan="3" class="input"><%= f.text_field :email, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :phone %></td>
		<td colspan="3" class="input"><%= f.text_field :phone, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :mobile %></td>
		<td colspan="3" class="input"><%= f.text_field :mobile, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :address %></td>
		<td colspan="3" class="input"><%= f.text_field :address, :class => "thin_border very_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :zip %></td>
		<td class="input"><%= f.text_field :zip, :class => "thin_border short" %></td>
		<td class="label right"><%= f.label :city %></td>
		<td class="input"><%= f.text_field :city, :class => "thin_border medium_long" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :country %></td>
		<td colspan="3" class="input">
			<%= f.country_select :country, {}, {:include_blank => t('Please choose')}, {:class => "alchemy_selectbox very_long"} %>
		</td>
	</tr>
	<tr>
		<td class="label"><%= f.label :tag_list, "Tags" %></td>
		<td colspan="3" class="input">
			<%= f.autocomplete_field :tag_list, autocomplete_tag_list_admin_contacts_path, :class => "thin_border very_long", 'data-delimiter' => ',' %>
			<p><small>*Mehrere Tags mit Komma trennen.</small></p>
		</td>
	</tr>
	<tr>
		<td class="label">Status</td>
		<td class="checkbox" colspan="3">
			<%= f.check_box :verified %>
			<%= f.label :verified %>
			<%= f.check_box :disabled %>
			<%= f.label :disabled %>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="4"><%= f.button "Speichern", :class => "button" %></td>
	</tr>
</table>

<% end %>
