<%= form_tag import_admin_contacts_path, :remote => request.xhr?, :multipart => true, :class => 'contact_import' do %>
	<table>
		<tr>
			<td class="label">Datei:</td>
			<td><%= file_field_tag :vcard %></td>
			<td class="submit">
				<%= button_tag ::I18n.t(:import, :scope => :alchemy_crm), :name => nil, :class => 'button' %>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="padding: 0">
				<%= check_box_tag :verified %>
				<%= label_tag :verified, ::I18n.t(:import_contacts_verified, :scope => :alchemy_crm) %>
			</td>
		</tr>
	</table>
<% end %>
