<%- content_for(:javascript_includes) do -%>
	<%= javascript_include_tag "alchemy_crm/scripts.js" %>
<%- end -%>

<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy_crm/styles') %>
<%- end -%>

<%- content_for :toolbar do -%>
<div id="toolbar_buttons">
	<div class="button_with_label">
		<%= link_to_overlay_window(
			content_tag('span', '', :class => 'icon contact_add'),
			new_admin_contact_path,
			{
				:title => 'Neuen Kontakt anlegen',
				:size => '407x560'
			},
			{
				:title => 'Neuen Kontakt anlegen',
				:class => 'icon_button'
			}
		) -%><br />
		<label>Neuer Kontakt</label>
	</div>
	<div class="button_with_label">
		<%= link_to_overlay_window(
			content_tag('span', '', :class => 'icon contact_import'),
			import_admin_contacts_path,
			{
				:title => 'Kontakt(e) importieren',
				:size => '335x150'
			},
			{
				:title => 'Kontakt(e) importieren',
				:class => 'icon_button'
			}
		) -%><br />
		<label>Kontakt(e) importieren</label>
	</div>
</div>
<%= render :partial => "alchemy/admin/partials/search_form" %>
<%- end -%>

<table class="list">
	<%- unless @contacts.blank? -%>
	<tr>
		<th class="icon"></th>
		<th class="name" style="width: 180px">Nachname</th>
		<th class="name" style="width: 180px">Vorname</th>
		<th class="name">Firma</th>
		<th class="name">Email</th>
		<th class="name">Tags</th>
		<th class="center">verifiziert?</th>
		<th class="tools" style="width: 60px"></th>
	</tr>
	<%- end -%>
	<%= render @contacts %>
</table>
<%= render 'alchemy/admin/partials/pagination_links', :items => @contacts, :scope => alchemy_crm %>
