<tr class="<%= cycle('even', 'odd') %> filterable" name="<%= tag.name -%>">
  <td class="icon">
    <%= content_tag 'span', '', :class => 'icon tag' -%>
  </td>
  <td class="name">
    <%= tag.name -%>
  </td>
  <td class="size" style="width: 120px">
    <%= contact_count_from_tag(tag) -%>
  </td>
  <td class="tools">
    <%= link_to_overlay_window(
      "",
      edit_admin_tag_path(tag),
      {
        :title => alchemy_crm_t(:edit_tag),
        :size => '350x325'
      },
      {
        :title => alchemy_crm_t(:edit_tag),
        :class => 'icon tag_edit'
      }
    ) -%>
    <%= link_to_confirmation_window(
      '',
      alchemy_crm_t(:do_you_really_want_to_delete_this_tag?),
      admin_tag_path(tag),
      :title => alchemy_crm_t(:delete_tag),
      :class => "icon tag_delete"
    ) -%>
  </td>
</tr>
