<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy_crm/styles') %>
<%- end -%>

<%- content_for :toolbar do -%>
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon tag_add'),
				new_admin_tag_path,
				{
					:title => alchemy_crm_t('New Tag'),
					:size => '310x210'
				},
				:title => alchemy_crm_t('New Tag'),
				:class => 'icon_button'
			) %><br />
			<label><%= alchemy_crm_t('New Tag') %></label>
		</div>
	</div>
  <%= render :partial => 'alchemy/admin/partials/search_form' %>
<%- end -%>

<%- if @tags.any? -%>
<table class="list" id="tag_list">
	<tr class="legend">
		<th class="icon"></th>
		<th class="name"><%= ActsAsTaggableOn::Tag.human_attribute_name(:name) %></th>
		<th class="size" style="width: 120px"><%= ActsAsTaggableOn::Tag.human_attribute_name(:contacts_count) %></th>
		<th class="tools"></th>
	</tr>
	<%= render :partial => 'tag', :collection => @tags %>
</table>
<%= render 'alchemy/admin/partials/pagination_links', :items => @tags, :scope => alchemy_crm %>
<%- end -%>
