<%- alchemy_combined_assets -%>

<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy-mailings/base') %>
<%- end -%>

<%- content_for(:javascript_includes) do -%>
	<%= javascript_include_tag('alchemy/controls') %>
<%- end -%>

<%- content_for :toolbar do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon contact_add'),
				new_admin_contact_path(),
				{
					:title => 'Neuen Kontakt anlegen',
					:size => '350x400'
				},
				{
					:title => 'Neuen Kontakt anlegen',
					:class => 'icon_button'
				}
			) -%><br />
			<label>Neuer Kontakt</label>
		</div>
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon contact_import'),
				'/admin/contacts/import',
				{
					:title => 'Kontakt(e) importieren',
					:size => '335x120'
				},
				{
					:title => 'Kontakt(e) importieren',
					:class => 'icon_button'
				}
			) -%><br />
			<label>Kontakt(e) importieren</label>
		</div>
	</div>
	<div class="toolbar_spacer"></div>
	<div id="toolbar_links">
		<%= render :partial => 'admin/partials/per_page_links', :locals => {:label => 'Kontakte', :values => ['20', '50', 'all']} %>
	</div>
	<%= render :partial => "admin/partials/search_form" %>
</div>
<%- end -%>

<div id="archive_all">
	<%= render :partial => 'admin/partials/pagination_links', :locals => {:items => @contacts} %>
	<table class="list">
		<%- unless @contacts.blank? -%>
		<tr>
			<th class="icon"></th>
			<th class="name" style="width: 180px">Nachname</th>
			<th class="name" style="width: 180px">Vorname</th>
			<th class="name">Firma</th>
			<th class="name">Email</th>
			<th class="tools" style="width: 60px"></th>
		</tr>
		<%- end -%>
		<%= render @contacts %>
	</table>
</div>
