<% unless @contacts.nil? %>
	<div id="errors" style="display:none"></div>
	<%= form_for :contact, @contact, :url => {:controller => :contact, :action => :multiple_update}, :method => "post", :class => "with_padding", :remote => true do |f| %>
		<div class="emulate_table">
			<p>
				<%= f.label :salutation, ("Anrede") %>
				<%= f.select :salutation, ["", "Frau","Herr"], {}, :class => "short" %>
				<%= f.label :title, ("Titel"), :class => "short_label", :style => "width:43px" %>
				<%= f.text_field :title, :class => "thin_border medium_long" %>
			</p>
			<p>
				<%= f.label :firstname, ("Vorname") %>
				<%= f.text_field :firstname, :class => "thin_border medium_long" %>
				<%= f.label :prename, ("Zusatz"), :class => "short_label" %>
				<%= f.text_field :prename, :class => "thin_border short" %>
			</p>
			<p>
				<%= f.label :lastname, ("Nachname") %>
				<%= f.text_field :lastname, :class => "thin_border long" %>
			</p>
			<p>
				<%= f.label :organisation, ("Firma") %>
				<%= f.text_field :organisation, :class => "thin_border long" %>
			</p>
			<p>
				<%= f.label :email, ("E-Mail") %>
				<%= f.text_field :email, :class => "thin_border long" %>
			</p>
			<p>
				<%= f.label :phone, ("Telefon") %>
				<%= f.text_field :phone, :class => "thin_border long" %>
			</p>
			<p>
				<%= f.label :mobile, ("Mobil") %>
				<%= f.text_field :mobile, :class => "thin_border long" %>
			</p>
			<p>
				<%= f.label :street, ("Straße") %>
				<%= f.text_field :street, :class => "thin_border medium_long" %>
				<%= f.label :street_nr, ("Nummer"), :class => "short_label" %>
				<%= f.text_field :street_nr, :class => "thin_border short" %>
			</p>
			<p>
				<%= f.label :zip, ("PLZ") %>
				<%= f.text_field :zip, :class => "thin_border short", :maxlength => 5 %>
				<%= f.label :city, ("Stadt"), :class => "short_label" %>
				<%= f.text_field :city, :class => "thin_border medium_long" %>
			</p>
			<p>
				<%= f.label :tag_list, ("Tags") %>
				<%= f.text_field :tag_list, :class => "thin_border long" %>
			</p>
			<%= hidden_field_tag "contact[ids]", @contacts.collect{|c| c.id}.join(",") %>
			<%= submit_tag "Speichern", :class => "button" %>
		</div>
	<% end %>
<% end %>