<%- alchemy_combined_assets -%>

<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy-mailings/base') %>
<%- end -%>
<%- content_for(:javascript_includes) do -%>
	<%= javascript_include_tag('alchemy-mailings/scripts.js') %>
<%- end -%>

<%- content_for :toolbar do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon group_add'),
				new_admin_contact_group_path(),
				{
					:title => 'Neue Zielgruppe anlegen',
					:size => '445x255'
				},
				{
					:class => 'icon_button',
					:title => 'Neue Zielgruppe anlegen'
				}
			) -%><br />
			<label>Neue Zielgruppe</label>
		</div>
	</div>
  <%= render :partial => 'admin/partials/search_form' %>
</div>
<%- end -%>

<div id="archive_all">
	<%= render :partial => 'admin/partials/pagination_links', :locals => {:items => @contact_groups} %>
	<table class="list" id="group_list">
		<%- unless @contact_groups.blank? -%>
		<tr>
			<th class="icon"></th>
			<th class="name">Name</th>
			<th class="count" style="width: 120px">Anzahl Kontakte</th>
			<th class="tools" style="width: 40px"></th>
		</tr>
		<%- end -%>
		<%= render @contact_groups %>
	</table>
</div>
