<tr class="delivery <%= cycle('even', 'odd') %>">
	<td>
		<%- if delivery.delivered? -%>
		<%= l(delivery.deliver_at) %>
		<%- else -%>
		<%= link_to_overlay_window(
			l(delivery.deliver_at),
			edit_admin_delivery_path(delivery),
			{
				:title => "#{delivery.name} bearbeiten",
				:size => '350x210'
			}
		) %>
		<%- end -%>
	</td>
	<td class="right">
		<%= delivery.recipients.count %>
	</td>
	<td class="center">
		<%= render_icon(delivery.delivered?) %>
	</td>
	<td class="center">
		<%- if delivery.delivered? -%>
		<%= link_to_overlay_window(
			render_icon('statistics'),
			admin_delivery_path(delivery),
			{
				:title => "Statistik des #{delivery.mailing.name} vom #{l(delivery.created_at)}",
				:size => '500x400',
				:modal => false
			}
		) %>
		<%- end -%>
	</td>
</tr>
