<div id="errors" style="display:none"></div>
<% remote_form_for :mailing, @mailing, :url => {:controller => :mailings, :action => "copy"}, :method => "post", :html => {:class => " with_padding"} do |f| %>
	<div class="emulate_table">
		<div class="emulated_table_row">
			<%= f.label :name, ("Name"), :class => "medium" %>
			<%= f.text_field :name, :class => "thin_border long" %>
		</div>
		<div class="emulated_table_row">
			<%= f.label :subject, ("Betreff"), :class => "medium" %>
			<%= f.text_field :subject, :class => "thin_border long" %>
		</div>
		<div class="emulated_table_row">
			<%= submit_tag "Speichern", :class => "button" %>
		</div>
	</div>
<% end %>
