<% form_tag(deliver_admin_mailing_path(@mailing), :onsubmit => "Alchemy.pleaseWaitOverlay()") do %>
	<div id="errors" style="display:none"></div>
	<table style="width: 100%">
		<tr>
			<td class="label"><%= label :mailing, :name, 'Name:' %></td>
			<td><%= @mailing.name %></td>
		</tr>
		<tr>
			<td class="label"><%= label :mailing, :name, 'Betreff:' %></td>
			<td><%= @mailing.subject %></td>
		</tr>
		<tr>
			<td class="label"><%= label :mailing, :name, 'Empf채nger:' %></td>
			<td><%= @mailing.recipients_count %> (<%= link_to_function "Empf채nger anzeigen", "jQuery('#all_contacts').toggle(); AlchemyMailings.toggleLabel(this, 'Empf채nger ausblenden', 'Empf채nger anzeigen')" ,:class => "" %>)</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<ul id="all_contacts" style="display: none">
					<%- @mailing.all_email_addresses.each do |email_address| -%>
					<li><%= email_address %></li>
					<%- end -%>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="submit">
				<%= submit_tag("versenden", :class => "button") %>
			</td>
		</tr>			
	</table>
<% end %>
