<% if @contact_signed_out -%>

<%= raw element.ingredient('signed_out_text') % {:name => @contact.interpolation_name_value} %>

<% elsif @contact_disabled -%>

<%= raw element.ingredient('disabled_text') % {:name => @contact.interpolation_name_value} %>

<% else -%>

<%= form_tag alchemy_crm.signout_contacts_path do %>
  <% if flash[:notice].present? -%>
  <p class="flash notice"><%= flash[:notice] %></p>
  <% end -%>
  <table>
    <tr>
      <td class="label">
        <%= label_tag 'email', ::I18n.t(:email, :scope => "activerecord.attributes.alchemy_crm/contact") %>
      </td>
      <td class="input">
        <%= email_field_tag 'email', params[:email], :required => true, :class => 'text_field' %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <%= button_tag ::I18n.t('signout_form.button_label', :scope => :alchemy_crm), :name => nil %>
      </td>
    </tr>
  </table>
<% end %>

<% end -%>
