<%= render_essence_editor_by_name(element, 'signout_text') %>
<%= page_selector(element, 'followup_page') %>
<%= render_essence_editor_by_name(element, 'mail_from') %>
<%= render_essence_editor_by_name(element, 'mail_subject') %>
<%= render_essence_editor_by_name(element, 'email_text') %>
<p class="foot_note">Bitte den Link zur Best채tigung mit %{link} einf체gen.<br />Den Namen des Empf채ngers mit %{name} einf체gen.</p>
<%= page_selector(element, 'signout_followup_page') %>
