<%= form_for [:admin, @contact_group], :remote => true, :class => 'contact_group_form' do |f| %>
	<div id="errors" style="display:none"></div>
	<table>
		<tr>
			<td class="label">
				<%= f.label :name, "Name" %>
			</td>
			<td class="input">
				<%= f.text_field :name, :class => "thin_border", :style => 'margin-right: 24px' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label>Kontakte mit diesen Tag(s)</label>
			</td>
			<td class="input">
				<%= render :partial => "tag", :collection => @tags, :locals => {:tags => @contact_group.contact_tags, :name => "contact_group" } %>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 0">
				<div id="filter_container">
					<h2>Verfeinerungs-Filter</h2>
					<%- @contact_group.contact_group_filters.each_with_index do |contact_group_filter, i| -%>
					<%= render :partial => "filter", :object => contact_group_filter, :locals => {:count => i} %>
					<%- end -%>
				</div>
				<p>
					<%= link_to(
						"#{render_icon('create')}Filter hinzufügen".html_safe,
						add_filter_admin_contact_groups_path(:size => @contact_group.contact_group_filters.size),
						:method => 'get',
						:class => 'small button with_icon',
						:remote => true
					) %>
				</p>
			</td>
		</tr>
		<tr>
			<td class="submit" colspan="2">
				<%= f.button "speichern", :class => "button" %>
			</td>
		</tr>
	</table>
<% end %>
