<%= form_for [:admin, @contact_group], :remote => true, :class => 'contact_group_form' do |f| %>
  <div id="errors" style="display:none"></div>
  <table>
    <tr>
      <td class="label">
        <%= f.label :name %>
      </td>
      <td class="input">
        <%= f.text_field :name, :class => "thin_border very_long" %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label><%= alchemy_crm_t(:contacts_tagged_with) %></label>
      </td>
      <td class="input" id="contact_group_tags">
        <% if @contact_group.contact_tags.any? %>
        <h3><%= alchemy_crm_t(:already_chosen_tags) %></h3>
        <p class="chosen_tags">
          <%= render :partial => "tag", :collection => @contact_group.contact_tags %>
        </p>
        <% end %>
        <h3><%= alchemy_crm_t(:add_or_remove_tags) %></h3>
        <%= js_filter_field :onkeyup => "Alchemy.ListFilter('#tag_list li')" %>
        <%# We need this hidden field to be able to delete the tag list completely %>
        <%= hidden_field_tag "contact_group[contact_tag_list][]", "", :id => nil %>
        <ul id="tag_list" class="tags">
          <%= render :partial => "tag_with_checkbox", :collection => @tags, :locals => {:tags => @contact_group.contact_tags, :name => "contact_group" } %>
        </ul>
      </td>
    </tr>
    <% unless @contact_group.new_record? -%>
    <tr>
      <td colspan="2" style="padding: 0">
        <div id="filter_container">
          <h2><%= alchemy_crm_t(:filter) %></h2>
          <%- @contact_group.filters.each_with_index do |filter, i| -%>
          <%= render :partial => "filter", :object => filter, :locals => {:count => i} %>
          <%- end -%>
        </div>
        <p>
          <%= link_to(
            render_icon('create') + alchemy_crm_t(:add_filter),
            add_filter_admin_contact_groups_path(:contact_group_id => @contact_group.id),
            :method => 'get',
            :class => 'small button with_icon',
            :remote => true
          ) %>
        </p>
      </td>
    </tr>
    <% end -%>
    <tr>
      <td class="submit" colspan="2">
        <%= f.button t(:save), :class => "button" %>
      </td>
    </tr>
  </table>
<% end %>
