<%= form_for [:admin, @contact_group], :remote => true, :class => 'contact_group_form' do |f| %>
	<div id="errors" style="display:none"></div>
	<table>
		<tr>
			<td class="label">
				<%= f.label :name %>
			</td>
			<td class="input">
				<%= f.text_field :name, :class => "thin_border", :style => 'margin-right: 24px' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label><%= alchemy_crm_t(:contacts_tagged_with) %></label>
			</td>
			<td class="input">
				<%= render :partial => "tag", :collection => @tags, :locals => {:tags => @contact_group.contact_tags, :name => "contact_group" } %>
			</td>
		</tr>
		<% unless @contact_group.new_record? -%>
		<tr>
			<td colspan="2" style="padding: 0">
				<div id="filter_container">
					<h2><%= alchemy_crm_t(:filter) %></h2>
					<%- @contact_group.filters.each_with_index do |filter, i| -%>
					<%= render :partial => "filter", :object => filter, :locals => {:count => i} %>
					<%- end -%>
				</div>
				<p>
					<%= link_to(
						render_icon('create') + alchemy_crm_t(:add_filter),
						add_filter_admin_contact_groups_path(:contact_group_id => @contact_group.id),
						:method => 'get',
						:class => 'small button with_icon',
						:remote => true
					) %>
				</p>
			</td>
		</tr>
		<% end -%>
		<tr>
			<td class="submit" colspan="2">
				<%= f.button t(:save), :class => "button" %>
			</td>
		</tr>
	</table>
<% end %>
