<%- content_for(:stylesheets) do -%>
	<%= stylesheet_link_tag('alchemy_crm/styles') %>
<%- end -%>
<%- content_for(:javascript_includes) do -%>
	<%= javascript_include_tag('alchemy_crm/scripts') %>
<%- end -%>

<%- content_for :toolbar do -%>
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon group_add'),
				new_admin_contact_group_path(),
				{
					:title => 'Neue Zielgruppe anlegen',
					:size => '500x255'
				},
				{
					:class => 'icon_button',
					:title => 'Neue Zielgruppe anlegen'
				}
			) -%><br />
			<label>Neue Zielgruppe</label>
		</div>
	</div>
  <%= render :partial => 'alchemy/admin/partials/search_form' %>
<%- end -%>

<table class="list" id="group_list">
	<%- unless @contact_groups.blank? -%>
	<tr>
		<th class="icon"></th>
		<th class="name">Name</th>
		<th class="count" style="width: 120px">Anzahl Kontakte</th>
		<th class="tools" style="width: 40px"></th>
	</tr>
	<%- end -%>
	<%= render @contact_groups %>
</table>

<%= render 'alchemy/admin/partials/pagination_links', :items => @contact_groups, :scope => alchemy_crm %>
