<%= form_for [:admin, @newsletter], :class => "with_padding", :remote => true do |f| %>
	<div id="errors" style="display: none"></div>
	<table>
		<tr>
			<td class="label">
				<%= f.label :name, "Name" %>
			</td>
			<td class="input">
				<%= f.text_field :name, :class => "thin_border long" %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :layout, "Layout" %>
			</td>
			<td class="input">
				<%= f.select :layout, @page_layouts, {:prompt => 'Bitte wählen'}, {:class => "long"} %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :public, "Öffentlich" %>
			</td>
			<td class="input">
				<%= f.check_box :public %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :contact_groups, "Gruppen" %>
			</td>
			<td class="input">
				<%- if @contact_groups.any? -%>
				<%= render :partial => "tag_with_radiobutton", :collection => @contact_groups, :locals => {:newsletter_contact_groups => @newsletter.contact_groups} %>
				<%- else -%>
				<p>Sie haben noch keine Empfänger Gruppen gebildet</p>
				<%- end -%>
			</td>
		</tr>
		<%- unless @newsletter.verified_direct_contacts.blank? -%>
		<tr>
			<td colspan="2">
				<p>Über die Website eingetragene Kontakte: <%= @newsletter.verified_direct_contacts.length %></p>
			</td>
		</tr>
		<%- end -%>
		<tr>
			<td colspan="2" style="text-align: right">
				<%= f.submit "Speichern", :class => "button" %>
			</td>
		</tr>
	</table>
<% end %>
